<div class="content-form">
    <div class="container-title">
        <h1>Pedido do cartão virtual</h1>
        <div class="sub-title">Preencha os dados para solicitação do cartão</div>
    </div>

    <form [formGroup]="form" (ngSubmit)="generateCard()">
        <div class="d-flex w-100 flex-wrap">

            <div class="form-group col-md-3">
                <label>Valor da carga</label>
                <input type="number" class="form-control form-control-sm" formControlName="valor">
            </div>

            <div class="break-line"></div>

            <div class="form-group col-md-6">
                <label>Nome</label>
                <input type="text" class="form-control form-control-sm" formControlName="nome">
            </div>

            <div class="form-group  col-md-6">
                <label>Sobrenome</label>
                <input type="text" class="form-control form-control-sm" formControlName="nome">
            </div>

            <div class="form-group col-md-3">
                <label>CPF/CNPJ</label>
                <input type="text" class="form-control form-control-sm" formControlName="documento">
            </div>

            <div class="form-group col-md-3">
                <label>Nascimento</label>
                <div class="input-group">
                    <input bsDatepicker #dp="bsDatepicker" [bsConfig]="bsConfig" type="text" class="form-control form-control-sm input-filter"
                        formControlName="dataNascimento">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-secondary btn-sm calendar" (click)="dp.toggle()">
                            <i class="fa fa-calendar"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="form-group col-md-3">
                <label>Sexo</label>
                <ng-select class="w-100" [clearable]="false" [searchable]="false" formControlName="sexo">
                    <ng-option value="M">Masculino</ng-option>
                    <ng-option value="F">Feminino</ng-option>
                </ng-select>
            </div>

            <div class="form-group col-md-3">
                <label>Nacionalidade</label>
                <input type="text" class="form-control form-control-sm" formControlName="nacionalidade">
            </div>

            <div class="form-group col-md-6">
                <label>E-mail</label>
                <input type="text" class="form-control form-control-sm" formControlName="email">
            </div>

            <div class="break-line"></div>

            <div class="form-group col-md-3">
                <label>Telefone</label>
                <input type="text" class="form-control form-control-sm" formControlName="telefone">
            </div>

            <div class="form-group col-md-3">
                <label>Celular</label>
                <input type="text" class="form-control form-control-sm" formControlName="celular">
            </div>

            <div class="form-group col-md-6">
                <label>Estado Civil</label>
                <ng-select class="w-100" [clearable]="false" [searchable]="false" formControlName="estadoCivil">
                    <ng-option value="solteiro">Solteiro (a)</ng-option>
                    <ng-option value="casado">Casado (a)</ng-option>
                    <ng-option value="divorciado">Divorciado (a)</ng-option>
                    <ng-option value="viuvo">Viúvo (a)</ng-option>
                </ng-select>
            </div>

            <div class="form-group col-md-6">
                <label>Nome do pai</label>
                <input type="text" class="form-control form-control-sm" formControlName="nomePai">
            </div>

            <div class="form-group col-md-6">
                <label>Nome da mãe</label>
                <input type="text" class="form-control form-control-sm" formControlName="nomeMae">
            </div>

            <div class="break-line"></div>

            <div class="form-group col-md-6">
                <label>Rua</label>
                <input type="text" class="form-control form-control-sm" formControlName="rua">
            </div>

            <div class="form-group col-md-6">
                <label>Bairro</label>
                <input type="text" class="form-control form-control-sm" formControlName="bairro">
            </div>

            <div class="form-group col-md-6">
                <label>Cidade</label>
                <input type="text" class="form-control form-control-sm" formControlName="cidade">
            </div>

            <div class="form-group col-md-3">
                <label>Número</label>
                <input type="text" class="form-control form-control-sm" formControlName="numero">
            </div>

            <div class="form-group col-md-3">
                <label>Estado</label>
                <ng-select class="w-100" [dropdownPosition]="'top'" [items]="estadosBrasileiros" bindLabel="nome" bindValue="sigla"
                    [clearable]="false" notFoundText="Não encontrado" formControlName="estado">
                </ng-select>
            </div>

            <div class="form-group col-md-6">
                <label>País</label>
                <ng-select class="w-100" [clearable]="false" [searchable]="false" formControlName="pais">
                    <ng-option value="BR">Brasil</ng-option>
                </ng-select>
            </div>

            <div class="form-group col-md-6">
                <label>Complemento</label>
                <input type="text" class="form-control form-control-sm" formControlName="complemento">
            </div>

        </div>
    </form>

    <div class="content-button">
        <button type="button" class="btn btn-secondary btn-sm">Limpar</button>
        <app-btn-loading [loading]="btnLoading" [disable]="form.invalid || btnLoading" (click)="generateCard()"></app-btn-loading>
    </div>

</div>

<div bsModal #template="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="header-modal">
                <h4 class="modal-title pull-left">Dados do Cartão</h4>
                <button type="button" class="close pull-right" (click)="template.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-body">
                <div *ngIf="creditCard" class="modal-body">
                    <div>
                        <b>Nº Cartão:</b> {{creditCard.numeroCartao}} <br>
                        <b>Vencimento:</b> {{creditCard.dataVencimento}} <br>
                        <b>CVV:</b> {{creditCard.cvv}} <br>
                        <b>Proxy:</b> {{creditCard.proxy}} <br>
                        <b>ESPP Ref:</b> {{creditCard.esppRef}} <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>