<div class="content-form">
    <div class="container-title">
        <h1>Pedido do cartão virtual</h1>
        <div class="sub-title">Preencha os dados para solicitação do cartão</div>
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="d-flex w-100 flex-wrap">

            <div class="form-group col-md-3">
                <label>Valor da carga <span class="text-danger">*</span></label>
                <input type="text" class="form-control form-control-sm" [ngClass]="fv.checkInput(form.get('valor'))" mask="separator.2"
                    thousandSeparator="." maxlength="10" formControlName="valor">
            </div>

            <div class="break-line"></div>

            <div class="form-group col-md-3">
                <label>Nome <span class="text-danger">*</span></label>
                <input type="text" class="form-control form-control-sm" [ngClass]="fv.checkInput(form.get('nome'))" formControlName="nome">
            </div>

            <div class="form-group col-md-3">
                <label>Sobrenome <span class="text-danger">*</span></label>
                <input type="text" class="form-control form-control-sm" [ngClass]="fv.checkInput(form.get('sobrenome'))" formControlName="sobrenome">
            </div>

            <div class="form-group col-md-3">
                <label>CPF/CNPJ <span class="text-danger">*</span></label>
                <input type="text" class="form-control form-control-sm" [ngClass]="fv.checkInput(form.get('documento'))" mask="000.000.000-00"
                    formControlName="documento">
            </div>

            <div class="form-group col-md-3">
                <label>Nascimento <span class="text-danger">*</span></label>
                <div class="input-group">
                    <input bsDatepicker #dp="bsDatepicker" [ngClass]="fv.checkInput(form.get('dataNascimento'))" [bsConfig]="bsConfig" type="text"
                        class="form-control form-control-sm input-filter" formControlName="dataNascimento">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-secondary btn-sm calendar" (click)="dp.toggle()">
                            <i class="fa fa-calendar"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="form-group col-md-3 d-flex justify-content-between">
                <div class="col-md-6 p-0">
                    <label>Sexo <span class="text-danger">*</span></label>
                    <ng-select class="w-100" [ngClass]="fv.checkInput(form.get('sexo'))" [markFirst]="false" [clearable]="false" [searchable]="false"
                        formControlName="sexo">
                        <ng-option value="M">Masculino</ng-option>
                        <ng-option value="F">Feminino</ng-option>
                    </ng-select>
                </div>

                <div class="col-md-6 p-0" style="margin-left: 5px;">
                    <label>Nacionalidade <span class="text-danger">*</span></label>
                    <input type="text" class="form-control form-control-sm" [ngClass]="fv.checkInput(form.get('nacionalidade'))"
                        formControlName="nacionalidade">
                </div>
            </div>

            <div class="form-group col-md-3">
                <label>E-mail <span class="text-danger">*</span></label>
                <input type="text" class="form-control form-control-sm" [ngClass]="fv.checkInput(form.get('email'))" formControlName="email">
            </div>

            <div class="break-line"></div>

            <div class="form-group col-md-3">
                <label>Telefone <span class="text-danger">*</span></label>
                <input type="text" class="form-control form-control-sm" [ngClass]="fv.checkInput(form.get('telefone'))" mask="(00) 0000-0000"
                    formControlName="telefone">
            </div>

            <div class="form-group col-md-3">
                <label>Celular <span class="text-danger">*</span></label>
                <input type="text" class="form-control form-control-sm" [ngClass]="fv.checkInput(form.get('celular'))" mask="(00) 0 0000-0000"
                    formControlName="celular">
            </div>

            <div class="form-group col-md-3">
                <label>Estado Civil <span class="text-danger">*</span></label>
                <ng-select class="w-100" [ngClass]="fv.checkInput(form.get('estadoCivil'))" [clearable]="false" [searchable]="false"
                    formControlName="estadoCivil">
                    <ng-option value="solteiro">Solteiro (a)</ng-option>
                    <ng-option value="casado">Casado (a)</ng-option>
                    <ng-option value="divorciado">Divorciado (a)</ng-option>
                    <ng-option value="viuvo">Viúvo (a)</ng-option>
                </ng-select>
            </div>

            <div class="form-group col-md-3">
                <label>Nome do pai <span class="text-danger">*</span></label>
                <input type="text" class="form-control form-control-sm" [ngClass]="fv.checkInput(form.get('nomePai'))" formControlName="nomePai">
            </div>

            <div class="form-group col-md-3">
                <label>Nome da mãe <span class="text-danger">*</span></label>
                <input type="text" class="form-control form-control-sm" [ngClass]="fv.checkInput(form.get('nomeMae'))" formControlName="nomeMae">
            </div>

            <div class="break-line"></div>

            <div class="form-group col-md-3">
                <label>Rua <span class="text-danger">*</span></label>
                <input type="text" class="form-control form-control-sm" [ngClass]="fv.checkInput(form.get('rua'))" formControlName="rua">
            </div>

            <div class="form-group col-md-3">
                <label>Bairro <span class="text-danger">*</span></label>
                <input type="text" class="form-control form-control-sm" [ngClass]="fv.checkInput(form.get('bairro'))" formControlName="bairro">
            </div>

            <div class="form-group col-md-3">
                <label>Cidade <span class="text-danger">*</span></label>
                <input type="text" class="form-control form-control-sm" [ngClass]="fv.checkInput(form.get('cidade'))" formControlName="cidade">
            </div>

            <div class="form-group col-md-3 d-flex justify-content-between">
                <div class="col-md-6 p-0">
                    <label>Número <span class="text-danger">*</span></label>
                    <input type="text" class="form-control form-control-sm" [ngClass]="fv.checkInput(form.get('numero'))" formControlName="numero">
                </div>

                <div class="col-md-6 p-0" style="margin-left: 5px;">
                    <label>Estado <span class="text-danger">*</span></label>
                    <ng-select class="w-100" [ngClass]="fv.checkInput(form.get('estado'))" [dropdownPosition]="'top'" [items]="estadosBrasileiros"
                        bindLabel="nome" bindValue="sigla" [clearable]="false" notFoundText="Não encontrado" formControlName="estado">
                    </ng-select>
                </div>
            </div>

            <div class="form-group col-md-3">
                <label>CEP <span class="text-danger">*</span></label>
                <input type="text" class="form-control form-control-sm" [ngClass]="fv.checkInput(form.get('cep'))" mask="00000-000"
                    formControlName="cep">
            </div>

            <div class="form-group col-md-3">
                <label>Complemento <span class="text-danger">*</span></label>
                <input type="text" class="form-control form-control-sm" [ngClass]="fv.checkInput(form.get('complemento'))"
                    formControlName="complemento">
            </div>

            <div class="form-group col-md-3">
                <label>País <span class="text-danger">*</span></label>
                <ng-select class="w-100" [ngClass]="fv.checkInput(form.get('pais'))" [clearable]="false" [searchable]="false" formControlName="pais">
                    <ng-option value="BR">Brasil</ng-option>
                </ng-select>
            </div>
        </div>
    </form>

    <div class="content-button">
        <button type="button" class="btn btn-secondary btn-sm btn-clear" (click)="resetForm()">Limpar</button>
        <app-btn-loading [loading]="btnLoading" [disable]="btnLoading" (click)="onSubmit()"></app-btn-loading>
    </div>

</div>

<div bsModal #template="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="header-modal">
                <h4 class="modal-title pull-left">Dados do Cartão</h4>
                <button type="button" class="close pull-right" (click)="template.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-body">
                <div *ngIf="creditCard" class="modal-body">
                    <div>
                        <b>ESPP Ref:</b> {{creditCard.esppRef}} <br>
                        <b>Proxy:</b> {{creditCard.proxy}} <br>
                        <b>Nº Cartão:</b> {{creditCard.numeroCartao}} <br>
                        <b>Vencimento:</b> {{creditCard.dataVencimento}} <br>
                        <b>CVV:</b> {{creditCard.cvv}} <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>