<div class="content-form">

    <div class="container-title">
        <h1>Carga cartão virtual</h1>
        <div class="sub-title">Preencha os dados para colocar carga no cartão</div>
    </div>

    <form [formGroup]="form">
        <div class="d-flex align-items-end">
            <div class="form-group col-md-4">
                <label>Proxy</label>
                <input type="text" class="form-control form-control-sm" formControlName="proxy">
            </div>
            <div class="form-group col-md-4" style="max-width: 200px;">
                <label>Valor</label>
                <input type="number" class="form-control form-control-sm" formControlName="valor">
            </div>
        </div>

        <div class="form-buttons">
            <button type="button" class="btn btn-warning btn-sm" style="margin-left: 10px;" (click)="cargaFake()">Mocky</button>
            <app-btn-loading [loading]="btnLoading" [disable]="form.invalid || btnLoading" title="Adicionar" (click)="addCarga()">
            </app-btn-loading>
        </div>
    </form>
</div>

<div bsModal #template="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="header-modal">
                <h4 class="modal-title pull-left">Dados do Cartão</h4>
                <button class="close pull-right" (click)="template.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-body">
                <div *ngIf="esppRef">
                    <div>
                        <b>Código esppRef: </b>{{esppRef}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>