<div class="content-form">

    <div class="container-title">
        <h1>Carga cartão virtual</h1>
        <div class="sub-title">Preencha os dados para colocar carga no cartão</div>
    </div>

    <form [formGroup]="form">
        <div class="d-flex"></div>
        <div class="d-flex align-items-end">
            <div class="form-group col-md-4" style="max-width: 225px;">
                <label>Proxy <span class="text-danger">*</span></label>
                <input type="text" class="form-control form-control-sm" [ngClass]="setBorderColor('proxy')" formControlName="proxy">
            </div>
            <div class="form-group col-md-4" style="max-width: 200px;">
                <label>Valor <span class="text-danger">*</span></label>
                <input type="text" class="form-control form-control-sm" [ngClass]="setBorderColor('valor')" mask="separator.2" thousandSeparator="."
                    formControlName="valor">
            </div>

            <div class="form-buttons" style="margin-bottom: 1em">
                <app-btn-loading [loading]="btnLoading" [disable]="btnLoading" title="Adicionar" (click)="onSubmit()">
                </app-btn-loading>
            </div>
        </div>
    </form>
</div>