<div style="height: calc(100vh - 170px)">
    <div class="container-img">
        <div class="img"></div>
        <div class="box-info">
            <h3 style="font-size: 42px;color: #162056;"> Seja be-vindo a nova <br>plataforma de Pedidos </h3>
            <br>
            <p> Aqui você pode consultar seus contratos, <br> efetuar pedidos e gerenciar seus protadores. <br> <br>
                Utilize o menu lateral para navegação e confira <br> todos os dados disponiveis. </p>
        </div>
    </div>
</div>