<div class="w-100 h-100 d-flex justify-content-between align-items-center" style="height: calc(100vh - 190px) !important;">

    <div class="box-info">
        <h3 style="font-size: 42px;color: #162056;"> Seja be-vindo a nova <br>plataforma de Pedidos </h3>
        <br>
        <p> Aqui você pode consultar seus contratos, <br> efetuar pedidos e gerenciar seus protadores. <br> <br>
            Utilize o menu lateral para navegação e confira <br> todos os dados disponiveis. </p>
    </div>

    <div>
        <img src="../../../assets/images/home.jpg">
    </div>

</div>