.home-img {
    background: url(../../../assets/images/home.jpg) no-repeat center;
    width: 40vw;
    height: 20vw;
}

img {
    width: 40vw;
    height: 25vw;
    object-fit: cover;
    border-top-left-radius: 50% 100%;
    border-bottom-left-radius: 50% 100%;
}

.title-home {
    font-size: 28px;
    color: #162056;
}

.sub-title-home {
    font-size: 15px;
}

@media screen and (min-width: 1400px) {
    .box-info {
        padding-left: 5em;

        .title-home {
            font-size: 42px;
        }

        .sub-title-home {
            font-size: 22px;
        }
    }
}
// position: relative;
// height: 100%;
// box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);

// p {
//     font-size: 19px;
// }

// .img {
//     background: url(../../../assets/images/home.jpg);
//     width: 100%;
//     height: 100%;
//     background-position: right;
//     background-size: 90%;
// }

// .box-info {
//     position: absolute;
//     top: 10%;
//     left: 13%;
//     background-color: rgba(194, 174, 255, 0.3);
//     padding: 30px;
//     border-radius: 30px;
// }
