.brand_logo_container {
    height: auto;
    width: auto;
    top: 0;
    background: transparent;
    padding: 0;
}

.brand_logo {
    height: auto;
    width: 185px;
    border-radius: 0;
    border: 0;
    margin-left: 14px;
}

.bg-header {
    background: #fff;
    // background: #7FC2E4;
}

.m-r-25 {
    margin-right: 25px;
}

#dropdownMenuLink,
#dropdownMenuLink2 {
    background: #fff0c0;
    padding: 5px 15px 5px 15px;
    border-radius: 25px;
    border: 1px solid #d8d8d8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    color: #162056;
    cursor: pointer;
}

.fix-header {
    height: 100px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.dropdown-menu.show {
    padding: 5px;
}

.dropdown-item {
    padding: 10px;
}
