<nav class="navbar navbar-expand-lg navbar-dark bg-header fix-header">

    <div class="d-flex w-100 justify-content-between">
        <div class="col-md-3" style="max-width: 265px; padding: 0;">
            <div class="brand_logo_container pointer">
                <img src="../../../../assets/images/logo1.png" class="brand_logo" alt="Logo">
            </div>
        </div>

        <div class="col-md-9 d-flex justify-content-center align-items-center" style="color: #162056;">
            <div class="w-100 d-flex">

                <div class="col-md-6 d-flex justify-content-end">
                    <div class="dropdown">
                        <div class="pointer" id="empresas" data-toggle="dropdown">
                            <b>Empresa:</b> {{empresaSelecionada.nome}}
                            <br>
                            <small><b>CPNJ: </b>{{empresaSelecionada.cnpj}}</small>

                            <div class="dropdown-menu" aria-labelledby="empresas">
                                <div *ngFor="let e of empresas" class="dropdown-item" (click)="setEmpresa(e)">
                                    {{e.nome}} <br><small>{{e.cnpj}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 d-flex justify-content-end">
                    <div class="dropdown">
                        <div class="pointer" id="empresas" data-toggle="dropdown">
                            <b>Produto:</b> {{produtoSelecionado.nome}}

                            <div class="dropdown-menu" aria-labelledby="empresas">
                                <div *ngFor="let e of produtos" class="dropdown-item" (click)="setProduto(e)"> {{e.nome}} </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</nav>