<nav class="navbar navbar-expand-lg navbar-dark bg-header">

    <div class="d-flex w-100 justify-content-between">
        <div class="col-md-3" style="max-width: 195px;">
            <div class="brand_logo_container pointer">
                <img src="../../../../assets/images/edenred_logo.png" class="brand_logo" alt="Logo">
            </div>
        </div>

        <div class="col-md-5 d-flex justify-content-center align-items-center">
            <div class="w-100 d-flex">

                <div class="dropdown show m-r-25">
                    <a class="dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown"> Empresas </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item">Accentiv Serviços tecnologia da informação S/A
                            <br> <small>CPNJ: 02.388.006/0001-03</small>
                        </a>
                    </div>
                </div>

                <div class="dropdown show">
                    <a class="dropdown-toggle" id="dropdownMenuLink2" data-toggle="dropdown"> Produtos </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink2">
                        <a class="dropdown-item">Produto 1</a>
                        <a class="dropdown-item">Produto 2</a>
                        <a class="dropdown-item">Produto 3</a>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-md-4  d-flex justify-content-center align-items-end flex-column">
            <div>Olá, Mário Pontes</div>
            <div>Saldo: R$200,00</div>
        </div>

    </div>
</nav>