<div class="content-form">

  <div class="container-title">
    <h1>Bloqueio de Cartão Virtual</h1>
    <div class="sub-title">Preencha os dados para bloqueio do cartão</div>
  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="d-flex"></div>
    <div class="d-flex align-items-end">
      <div class="form-group col-md-4" style="max-width: 225px;">
        <label>Proxy <span class="text-danger">*</span></label>
        <input type="text" class="form-control form-control-sm" formControlName="proxy">
      </div>
      <div class="form-buttons" style="margin-bottom: 1em">
        <app-btn-loading [loading]="loading" [disable]="form.invalid || loading" title="Bloquear" (click)="onSubmit()">
        </app-btn-loading>
      </div>
    </div>
  </form>
</div>