.box-body {
    max-width: calc(100% - 225px);
    min-height: calc(100vh - 140px);
    margin: 100px 0px 75px 225px;
    padding: 1.5em;
}

.page-footer {
    position: fixed;
    bottom: 0;
    background: #162056;
    width: 100%;

    .footer-copyright {
        color: #fff;
    }
}
