.spinner-border {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: text-bottom;
    border: 3px solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border 0.75s linear infinite;
    animation: spinner-border 0.75s linear infinite;
}

.btn-default {
    background: #162056;
    color: #fff;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 25px;
}

.disable:hover {
    cursor: no-drop;
}
