<div class="content-form">

    <div class="container-title">
        <h1>Consulta de Extrato</h1>
        <div class="sub-title">Preencha os dados para exibir extrato do cartão</div>
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <div class="d-flex flex-wrap align-items-end">
            <div class="form-group col-md-4" style="max-width:225px">
                <label>Proxy</label>
                <input type="text" class="form-control  form-control-sm" formControlName="proxy">
            </div>

            <div class="form-group col-md-4" style="max-width: 265px;">
                <label>Data de</label>
                <div class="input-group">
                    <input bsDatepicker #dp="bsDatepicker" [bsConfig]="bsConfig" type="text" class="form-control form-control-sm input-filter"
                        formControlName="dataDe">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-secondary btn-sm calendar" (click)="dp.toggle()">
                            <i class="fa fa-calendar"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="form-group col-md-4" style="max-width: 265px;">
                <label>Data até</label>
                <div class="input-group">
                    <input bsDatepicker #dp2="bsDatepicker" [bsConfig]="bsConfig" type="text" class="form-control form-control-sm input-filter"
                        formControlName="dataAte">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-secondary btn-sm calendar" (click)="dp2.toggle()">
                            <i class="fa fa-calendar"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="form-buttons p-0" style="margin-bottom: 1em">
                <app-btn-loading [loading]="btnLoading" [disable]="form.invalid || btnLoading" title="Consultar" (click)="onSubmit()">
                </app-btn-loading>
            </div>
        </div>
    </form>
</div>

<div bsModal #template="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="header-modal">
                <h4 class="modal-title pull-left">Dados do Cartão</h4>
                <button type="button" class="close pull-right" (click)="template.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-body">
                <div *ngIf="extrato" class="modal-body">
                    <div>
                        <b>ESPP Ref:</b> {{extrato.esppRef}} <br>
                        <b>Extrato:</b> {{extrato.extrato}} <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>