.container-login {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    // background-image: linear-gradient(-70deg, #d52b1e -22%, #ffe282 86%);
    // background-image: linear-gradient(-70deg, #ff8e85 -22%, #fffae9 86%);
    background-image: linear-gradient(-70deg, #e60a14 -36%, #162056 90%);
}

.user_card {
    height: 415px;
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background: #e6e6e6;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}
.brand_logo_container {
    position: absolute;
    height: 115px;
    width: 300px;
    top: 18px;
    background: transparent;
    padding: 0;
    text-align: center;
}
.brand_logo {
    height: auto;
    width: 300px;
    border-radius: 0;
    border: 0;
}
.form_container {
    margin-top: 100px;
}
.login_btn {
    width: 100%;
    background: #162056 !important;
    color: #fff;
}
.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.login_container {
    padding: 0 2rem;
}
.input-group-text {
    background: #d52b1e !important;
    color: #fff !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #00bff0 !important;
}
