@import "~@ng-select/ng-select/themes/default.theme.css";
@font-face {
    font-family: montserrat;
    src: url("assets/fonts/Montserrat/Montserrat-Regular.ttf") format("opentype");
}

* {
    font-family: "montserrat", "arial", sans-serif;
}

h1 {
    font-size: 16px !important;
    font-weight: bold !important;
    color: #162056 !important;
}

.sub-title {
    font-size: 12px;
    color: #575252;
}
.pointer {
    cursor: pointer;
}

.p-0 {
    padding: 0 !important;
}

form {
    margin-top: 30px;

    label,
    input {
        font-size: 12px !important;
    }

    .form-control-sm {
        height: calc(1.5em + 0.5rem + 5px);
    }
}

.container-title {
    padding-left: 15px;
}

.btn-blue {
    background: #162056 !important;
    color: white !important;
}

.content-form {
    padding: 1.5em;
}

.footer-modal {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

.header-modal {
    background: #00bff0;
    color: #fff;
    display: flex;
    padding: 7px;
    justify-content: space-between;
}

.modal-body {
    min-height: 5em;
    display: flex;
    align-items: center;
}

.modal-content {
    border: none !important;
}

button.close {
    color: #fff;
    opacity: 1;
    display: flex;
}

.form-buttons {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
}

.ng-select {
    font-size: 12px;
    height: 30px;
    min-height: 30px;
}

.ng-select.ng-select-single .ng-select-container {
    height: 30px;
    min-height: 30px;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    padding: 5px 8px;
}
