@import "~@ng-select/ng-select/themes/default.theme.css";

.pointer {
    cursor: pointer;
}

.btn-blue {
    background: #162056 !important;
    color: white !important;
}

.content-form {
    padding: 10px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    margin-top: 3em;
}
// .modal-header {
//     background: #e6e6e6;
// }

.ng-select {
    font-size: 14px;
    height: 30px;
    min-height: 30px;
}

.ng-select.ng-select-single .ng-select-container {
    height: 30px;
    min-height: 30px;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    padding: 5px 8px;
}
// .swal2-header {
//     align-items: flex-start !important;

//     .swal2-title {
//         font-size: 24px;
//     }
// }

// .swal2-content {
//     font-size: 14px !important;
// }

// .swal2-styled {
//     padding: 4px 10px 4px 10px !important;
// }
