@import "~@ng-select/ng-select/themes/default.theme.css";
@font-face {
    font-family: montserrat;
    src: url("assets/fonts/Montserrat/Montserrat-Regular.ttf") format("opentype");
}

* {
    font-family: "montserrat", "arial", sans-serif;
}

h1 {
    font-size: 16px !important;
    font-weight: bold !important;
    color: #162056 !important;
}

.sub-title {
    font-size: 12px;
    color: #575252;
}
.pointer {
    cursor: pointer;
}

.p-0 {
    padding: 0 !important;
}

form {
    margin-top: 30px;

    label,
    input {
        font-size: 12px !important;
    }

    .form-control-sm {
        height: calc(1.5em + 0.5rem + 5px);
    }
}

.swal2-header {
    font-size: 13px;
}

.container-title {
    padding-left: 15px;
}

.btn-blue {
    background: #162056 !important;
    color: white !important;
}

.content-form {
    padding: 1em;
}

.footer-modal {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

.modal-body {
    min-height: 5em;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.modal-dialog {
    .modal-content {
        border: none;
        background: #fff;
    }

    .header-modal {
        color: #162056;
        background: #fff;
        margin-left: 2rem;
        margin-right: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #ccc;

        h4 {
            font-weight: bold;
            padding: 15px 0 5px 0;
        }

        .close {
            color: #162056;
        }
    }
}

button.close {
    color: #fff;
    opacity: 1;
    display: flex;
}

.form-buttons {
    display: flex;
    justify-content: flex-end;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.ng-select {
    font-size: 12px;
    height: 30px;
    min-height: 30px;
}

.ng-select.ng-select-single .ng-select-container {
    height: 30px;
    min-height: 30px;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    padding: 5px 8px;
}

.container-table {
    padding: 1em;
    border: 1px solid #dadada;
    border-radius: 5px;

    table {
        background: #fff;
        border-bottom: 1px solid #dadada !important;
        border-top: 0;

        th {
            font-size: 13px;
            border-bottom: none !important;
        }

        td {
            font-size: 12px;
            white-space: nowrap;
        }

        .dataTable thead .sorting {
            display: none !important;
        }
    }
    table.dataTable thead .sorting,
    table.dataTable thead .sorting_desc,
    table.dataTable thead .sorting_asc {
        background-image: none !important;
    }
    .dataTables_info,
    .dataTables_paginate {
        font-size: 12px;
    }

    #DataTables_Table_0_filter,
    #DataTables_Table_1_filter,
    #DataTables_Table_0_length,
    #DataTables_Table_1_length {
        font-size: 13px;

        input {
            border: 1px solid #ccc;
            border-radius: 5px;
            height: 32px;
        }

        select {
            border: 1px solid #ccc;
            border-radius: 5px;
            height: 27px;
        }
    }

    .paging_simple_numbers {
        a {
            border: 1px solid #ccc !important;
            border-radius: 5px !important;
            line-height: 1.25 !important;
            background: #fff;
        }

        a.paginate_button.disabled,
        a.paginate_button.disabled:hover,
        a.paginate_button.disabled:active {
            border: 1px solid #ccc !important;
            background: #fff !important;
        }

        a.paginate_button.current,
        a.paginate_button.current:hover {
            border: 1px solid #979797 !important;
            background: #ccc !important;
            color: #fff !important;
            background-color: #007bff !important;
            border-color: #007bff !important;
            border-radius: 5px !important;
            line-height: 1.25 !important;
        }
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
        border-radius: 5px !important;
        line-height: 1.25 !important;
        color: #0056b3 !important;
        background: #e9ecef !important;
        border-color: #dee2e6 !important;
        box-shadow: none !important;
    }

    .dataTables_paginate.paginate_button {
        background: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
        line-height: 1.25;
    }
}

*:focus {
    outline: none !important;
}
